body{
	margin: 0px;
}
.coloron{
	background-color: #996666;
}
.bodys{
	position: relative;
	background-color: grey;
	height: 60%;
	overflow-y:auto;
	overflow-x:hidden;
}
#filters{
	margin-left: 5px !important;
	padding-left: 10px !important;
}
.colortwo{
	background-color: #336666;
}
.colortre{
	background-color: #6699CC;
}
.colorfo{
	background-color: #669966;
}
.imageClientss{
	width: 200px !important;
	height: 250px;
	margin:10px;
}
.imageClienty{
	width: 300px !important;
	height: 250px;
	margin-right: 20px;
}
@font-face{
	font-family: pirulen;
	src:url("../fonts/pirulen.ttf");
}
.activeProject{
	background-color: #ADD8E6;
	color: #FFFFFF;
}
.ModalGalery{
	margin: 30px 0px !important;
	width: 100% !important;
	min-width: 1000px;
	max-width: 100%;
	max-height: 500px;
	min-height: 500px;
	overflow-y:auto;
	overflow-x:hidden;
}
.disablemodal{
	left: 0px !important;
	right: auto !important;
	width: 100% !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	position: relative;
}
.item li{
	margin-bottom: 0 !important;
	padding-bottom: 30px;
}
@font-face{
	font-family: dejavu;
	src:url("../fonts/DEJAVUSERIF.ttf");
}
.Scolor{
	background-color: #333333;
	
}
.Scolor li{
	font-size: 20px;
}
.top-nav-collapse{
	z-index: 10000 !important;
}
.fancybox-overlay-fixed{
	overflow-y:auto;
}
#about{
	border-top: 3px solid white;
}
.col-md-3 a{
	color: inherit !important;
}
.Start{
	position: absolute;
	bottom: 0px;
	left: 30px;
}
.HomeBack{
	background: url(../img/for-home8.png) no-repeat top center !important;
	background-size: cover !important;
}
.ProBack{
	background: url(../img/project.png) no-repeat top center !important;	
}


.image{
	z-index: 301;
}
.upil{
	margin:0px 5px;
	list-style: none;
}
.listing{
	width: 90%;
	font-size: 20px;
	margin: 10px 30px;
}
.disable{
	display:block !important;
}
.liston{
	font-size: 12px;
	width: 100%;
	margin: 0px;
	padding-left: 5px;
}
.liston li{
	list-style: none;
	height: 30px;
	width: 100%;
	line-height: 10px;
	padding:10px 5px;
	background-color: #91fec7;
	margin: 5px 0px;
}
.backgroundservice{
	
	background: url(../img/services.png) no-repeat top center;
	background-size: cover;
}
.backte{
	background: url(../img/testo.png) no-repeat top center;
	background-size: cover;	
}
.timeline-panel{

	text-align: justify !important;
}
.timeline-panel:hover{
	background-color:#00B88A !important;
	cursor: pointer;
	font-weight: 400;
	text-align: justify;
}
.paralaxMenu{
	position: absolute;
	z-index: 300;
	left: 0px;
	top:50px;
	color: #3D4C53;
	font-weight: 800;
}
.paralaxMenu ul{
	list-style: none;
	padding: 0px;
}
.paralaxMenu ul li{
	padding: 25px 0px;
	font-size: 20px;
	line-height: center;
}
.paralaxMenu ul li:hover{
	color: #FFFFFF;
	cursor:pointer;
}
.colorGreen{
	background-color: #66ff66;
}
.colorRed{
	background-color: #E64A45;
}
.colorBlue{
	background-color: #33cccc;
}
.colorYellow{
	background-color: #fac422;
}
#ServiceR{
	left: 100px;
	margin-left: 15px !important;

}
#ServiceR li{
	margin: 5px 0px;
	color: #FFFFFF !important;
	padding-right: 30px;
	position: relative;
	height: auto;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px; 
}
.activeone{
	background-color:#FF0000 !important;
}
.activetwo{
	background-color:#009999 !important;
}
.activetree{
	background-color:#00C322 !important;
}
.activefoo{
	background-color:#FF9200 !important;
}
#ServiceR li:nth-child(1).activy{
	background-color:#FF0000;
}

#ServiceR li:nth-child(2).activy{
	background-color:#009999;
}

#ServiceR li:nth-child(3).activy{
	background-color:#00C322;
}

#ServiceR li:nth-child(4).activy{
	background-color:#FF9200;
}
#ServiceR li:nth-child(1) .ulala{
	height: 100%;
	max-width: 130px;
}

#ServiceR li:nth-child(2) .ulala{
	height: 100%;
	max-width: 130px;
}
#ServiceR li:nth-child(3) .ulala{
	height: 100%;
	max-width: 100px;
}
#ServiceR li:nth-child(4) .ulala{
	height: 100%;
	max-width: 125px;
}
#ServiceR li{
	margin-left: 0px;
}
#ServiceR li .ulala{
	margin-left: 30px;
	text-align: left;
}
#Test{
	font-size: 2vmin;
	font-size: 2.4vh;
	font-size: 2.29vw;
	line-height: 30px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
#ulalates{
	font-size: 1.7vw !important;
}
#ulalatesyeah{
	font-size: 1.5vw !important;
	line-height: 30px;
	letter-spacing: 10.9px;
}
#UlalaTea{
	font-size: 2.55vw !important;
	letter-spacing: 2.5px;

}
.spacees{
	letter-spacing: 3.1px;
}
.spaceet{
	letter-spacing: 1.2px;
}
#Test2{
	font-size: 2.37vw;
	line-height: 30px;
	letter-spacing: 0.35px;
}
#Test3{
	font-size: 2.36vw;
	line-height: 30px;
	letter-spacing: 0.5px;
}
#Test4{
	font-size: 2vmax;
	line-height: 20px;
}
#Test5{
	position: relative;
	font-size: 4vh;
	line-height: 30px;
}
.colorUngu{
	background-color: #9933ff;
}
.colorUngu,.colorYellow,.colorBlue,.colorRed,.colorGreen{
	color: #ffffcc !important;
}

.ActiveJob{
	display: block;
}
#alertList{
	position: fixed;
	bottom: -30px;
	z-index: 10000;
}
#alertList div:nth-child(1){
	background-color: rgba(31,127,92,.8) !important;
}
#alertList div:nth-child(2){
	background-color: rgba(90,154,168,.8) !important;
}
#alertList div:nth-child(3){
	background-color: rgba(219,165,113,.8) !important;
}

#alertList div:nth-child(4){
	background-color: rgba(229,108,105,.8) !important;
}
.DeActiveJob{
	display: none;
}
.From{
	position: absolute;
	bottom: 0px;
	right: 30px;
}
#service .service-box{
	cursor: pointer;
}
#service .service-box:hover{
	background-color: #ca4e23;
	
}
#service .service-box:hover{
	color: #ffffff !important;
}

.fontas{
	font-size: 10px !important;
	font-weight: 200;
	vertical-align: middle;
}
.tits{
	font-size: 10px !important;
	font-weight: 500;
}
.mahacontainer{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: grey;
}
.colorGrey{
		background-color: grey !important;
}
.marginTop{
	margin-top: 30px;
}
.CompanyLogo{

	width: 100px;
	height: 95px;

}
.ourservice{
	height: 190px;
	overflow: hidden;
}
.hiddendisplay{
	display: none !important;

}
.kecil{
	font-size: 14px !important;
	letter-spacing: 1px !important;
}
.erts{
	background: url(../img/logo.png) no-repeat top center !important;
	background-size: contain !important;
	width: 700px !important;
	height: 200px;
}
.homing{
	background: url(../img/myimage.png) no-repeat top center !important;
	background-size: cover !important;
}
#backgroundlapis{
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 16px;
	background-color: #FF0000;
	opacity: .8;
	color: #FFFFFF;
	box-shadow: inset 62px 0.5px 50px -54px black;

}
.GreyColor{
	color: #7F8289;
}
.Whitebackground{
	background-color: whitesmoke;
}
.LayananService{
	background: url(../img/forService.png) no-repeat top center !important;
	background-size: cover !important;
}
.AboutBg{
	background: url(../img/about.png) no-repeat top center !important;
	background-size: cover !important;
}
#MenuAtas li{
	padding-left: 35px !important;
	padding-right: 35px !important;

}

.activerFlow{
	overflow-y:scroll !important;
}
.deactiveFlow{
	overflow-y:hidden;
}

.span13{
	width: 600px;
}
.fullwidth{
	width: 100% !important;
}
.boxshad{
	box-shadow: 2px 2px 2px 2px #272525;
}
.navbar .nav > li > a{
	padding: 15px 15px !important;
}
.imageClients{
	width: 300px !important;
	height: 200px;
	margin: 10px;
}
.imageClients2{
	border-radius: 50%;
}
.home-section{
	padding-bottom: 250px !important;
}
.padding-bt-10x{
	padding-top: 100px;
}
.paddingleft30{
	padding-left: 30px;
}

.padding-bt-20x{
	padding-top: 200px;
}
.padding-lw-20x{
	padding-left: 200px;
}
.padding-btm-10x{
	padding-bottom: 200px;
}
.padding-bt-30x{
	padding-top: 300px;
}

.SliderContainerse{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 700px;

}
.slidess{
	position: absolute !important;
	cursor: move;
	overflow:hidden;
	left: 0px;
	top: 0px;
}
.slidessImage{
	height: 300px;
}
.slidessContent{
	height: 600px;
}

            /* jssor slider bullet navigator skin 05 css */
            /*
            .jssorb05 div           (normal)
            .jssorb05 div:hover     (normal mouseover)
            .jssorb05 .av           (active)
            .jssorb05 .av:hover     (active mouseover)
            .jssorb05 .dn           (mousedown)
            */


            .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
                background: url(../img/b10.png) no-repeat;
                overflow: hidden;
                cursor: pointer;
            }

            .jssorb05 div {
                background-position: -7px -7px;
            }

                .jssorb05 div:hover, .jssorb05 .av:hover {
                    background-position: -37px -7px;
                }

            .jssorb05 .av {
                background-position: -67px -7px;
            }

            .jssorb05 .dn, .jssorb05 .dn:hover {
                background-position: -97px -7px;
            }

             .jssorb10 div, .jssorb10 div:hover, .jssorb10 .av {
                background: url(../img/b10.png) no-repeat;
                overflow: hidden;
                cursor: pointer;
            }

            .jssorb10 div {
                background-position: -7px -7px;
            }

                .jssorb10 div:hover, .jssorb10 .av:hover {
                    background-position: -37px -7px;
                }

            .jssorb10 .av {
                background-position: -67px -7px;
            }

            .jssorb10 .dn, .jssorb10 .dn:hover {
                background-position: -97px -7px;
            }
            
